
/* used for precatching of left/right controls */
head
{
	image-background: url('images/btn-featureleft.png');
	image-background: url('images/btn-featureleft-on.png');
	image-background: url('images/btn-featureright.png');
	image-background: url('images/btn-featureright-on.png');
}

/* fonts */

@font-face {
    font-family: gothicNarrow;
    src: url('League_Gothic.eot');
    src: url('League_Gothic.eot?#iefix') format('embedded-opentype'),
         url('League_Gothic.woff') format('woff'),
         url('League_Gothic.otf') format('opentype'),
         url('League_Gothic.ttf') format('truetype'),
         url('League_Gothic.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* page styling */

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	min-height: 500px;
	overflow: hidden;
}
#wrapper {
	background-color: #fff;
	width: 100%;
	height: 100%;
	/* margin-top: -225px; */
	/* overflow: hidden; */
	position: absolute;
	/* top: 50%; */
	margin-top: 50px;
}
#carousel { height: 450px; }
#carousel .slide {
	display: block;
	float: left;
	max-width: 1440px;
	margin-left: 15px;
	margin-right: 15px;
}
#carousel .slide div {
	position: absolute;
	top: 225px;
	width: 300px;
	margin-left: 70px;
}
#carousel .slide div * {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}
#carousel .slide div p.title{
	font-family: gothicNarrow, Impact, Charcoal, sans-serif;
	font-weight: normal;
	font-size: 56px;
	margin-bottom: 10px;
}
#carousel .slide div h4{
	font-size: 18px;
	margin-top: 10px;
}
#carousel .slide div p{
	font-size: 16px;
}
.prev, .next {
	display: block;
	height: 100%;
	width: 50%;
	top: 0;
	position: absolute;
	cursor: pointer;
}
.prev {
	left: -450px;
}
.next {
	right: -545px;
}
.prev img { right: -65px; top: 300px; position: absolute; }
.next img { left: -70px; top: 300px; position: absolute; }
.prev.btn-feature
{
}
